
<%= tinymce %>
		
		<div class="col s12">
			<h5>Add a Note</h5>
			<%= form_for([@project, @project.notes.build]) do |f| %>
				

				<%= f.text_area :content, id: "n", class: "materialize-textarea tinymce" %><br>
				
			  	<%= f.file_field :attachments, multiple: true %>
			  <br>
				<%= f.submit ("Add Note"), class: "btn waves-effect waves-light"%>
			<% end %>
		</div>

