<%= tinymce_assets %>
<%= tinymce %>

		<h5>Add a Note</h5>
		<div class="input-field col s12">
			<%= form_for([@project, @project.notes.build]) do |f| %>
				<i class="material-icons prefix">mode_edit</i>

				<%= f.text_area :content, id: "n", class: "materialize-textarea tinymce", rows: 4, col: 10 %><br>
				
			  <%= f.file_field :attachments, multiple: true %><br>
				<%= f.submit ("Add Note"), class: "btn waves-effect waves-light"%>
			<% end %>
		</div>

