
<%= tinymce %>
					<br><br>
		<div class="row col s12 grey lighten-4">
			<strong><p>New Message</p></strong>
			<%= form_for([@project, @project.notes.build]) do |f| %>
				

				<%= f.text_area :content, id: "n", class: "materialize-textarea tinymce" %><br>
				
			  	<%= f.file_field :attachments, multiple: true %>
			  <br>
				<%= f.submit ("Submit message"), class: "btn waves-effect waves-light"%>
			<% end %>
		</div>

