

<div class = "well">
<h4>Add a Note</h4>
<%= form_for([@project, @project.notes.build]) do |f| %>
	<%= f.text_field :content, placeholder: "Your note" %><br>
	<%= f.label :attachments %>
    <%= f.file_field :attachments, multiple: true %>
	<%= f.submit ("Add Note") %>
<% end %>

</div>