<<<<<<< HEAD
<div class="wrapper">
    <div class="form-signin">       
        <h5 class="form-signin-heading">Create an Account</h5>
        <hr class="colorgraph"><br>
=======
>>>>>>> tinymce

<div id="login-page" class="row">
    <div class="col s12 z-depth-6 card-panel">

        <%= form_for(resource, as: resource_name, class: "register-form", url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
        <div class="row">
          <div class="input-field col s12 center">
            <h5 class="center login-form-text">Create an Account</h5>
          </div>
        </div>

        <div class="row margin">
          <div class="input-field col s12">
            <i class="mdi-social-person-outline prefix"></i>
            <%= f.label :name %><br />
            <%= f.text_field :name, class: "form-control", autofocus: true %>
          </div>
        </div>


        <div class="row margin">
          <div class="input-field col s12">
              <i class="material-icons prefix">email</i>
            <%= f.label :email %><br />
            <%= f.email_field :email, class: "form-control", autofocus: true %>
          </div>
        </div>

        <div class="row margin">
          <div class="input-field col s12">
            <i class="mdi-action-lock-outline prefix"></i>
            <%= f.label :password %>
            <div class="right-align">
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %>
            </div> <br />
            <%= f.password_field :password, class: "form-control", autocomplete: "off" %>
          </div>
        </div>

        <div class="row margin">
          <div class="input-field col s12">
            <i class="mdi-action-lock-outline prefix"></i>
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "off" %>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12 center-align">
            <%= f.submit "Sign up", class: "btn btn-large waves-effect waves-light"  %>
          </div>
        </div>
      <% end %>
      <div class="row">
          <div class="input-field col s6 m6 l6">
            <%= render "devise/shared/links" %>
          </div>
        </div>
    </div>
  </div>

        
 
