<br><p class="right-align"> <%= link_to 'New Activity', new_task_path, class: "waves-effect waves-teal btn" %> </p>
<div class="col s12 z-depth-1 card-panel">
  <h5>All Activity</h5>

  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Done</th>
        <th>Project Id</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @tasks.each do |task| %>
        <tr>
          <td><%= task.title %></td>
          <td><%= task.done %></td>
          <td><%= link_to "V#{task.project.id}", task.project %></td>
          <td><%= link_to 'Edit', edit_task_path(task) %></td>
          <td><%= link_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
</div>

  