<p id="notice"><%= notice %></p>


 <h5>
 	<%= check_box_tag :task_done,"", @task.done %>
  <%= @task.title %>
</h5>



<p>
  <strong>Project:</strong>
  <%= link_to @task.project.title, @task.project %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>

<h5>Comments</h5>
<ol>
<% @task.comments.each do |comment|%>
	<li>
		<h5><%= comment.name %> </h5>
		<p><%= comment.body %></p>
		<%= time_ago_in_words(comment.created_at) %>
		<%= link_to 'Destroy',[@task, comment], method: :delete, data: { confirm: 'Are you sure?' } %>
	</li>
<% end %>
</ol>

<h5>Add Comment</h5>
<%= form_for([ @task, @task.comments.build]) do |f| %>
	
	
	<p>
		<%=  f.text_field :body, rows: 4, col: 10 %>
	</p>

	<p>
		<%=  f.submit("Add Comment") %>
	</p>

<% end %>
