
  <%= form_for(@project) do |f| %>
    <% if @project.errors.any? %>
      <div id="error_explanation">
        <h5><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h5>

        <ul>
        <% @project.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="input-field col s12">
      <i class="material-icons prefix">create</i>
        <%= f.label :title %><br>
        <%= f.text_field :title %>
    </div>

    <div class="input-field col s12 ">
      <i class="material-icons prefix">description</i><br> <br>
      <%= f.text_area :description, :class => "tinymce" %>
      <%= f.label :description %>
      <br>
    </div>
    
    <div class="input-field col s6">
      
      <i class="material-icons prefix">date_range</i>
      <%= f.label :start_date %>
      <%= f.date_field :start_date, class: "datepicker"%>
      
    </div>

    <div class="input-field col s6">
      
      <i class="material-icons prefix">date_range</i>
      <%= f.label :end_date %>
      <%= f.date_field :end_date, class: "datepicker" %>
      
    </div>
    
    <div class="input-field col s12">
      <i class="material-icons prefix">attachment</i>
      <%= f.label :attachments %><br><br>
      <%= f.file_field :attachments, multiple: true %><br><br>
    </div><br>

    <div class="actions center-align">
      <%= f.submit class: "btn", onclick: "Materialize.toast('Almost ready. Please wait :)', 6000)" %>
    </div><br>
  <% end %>

