
<h5>Recent Projects</h5>

<table class="striped">
  <thead>
    <tr>
      <th data-field="title">Title</th>
      <th data-field="name">User</th>
      
    </tr>
  </thead>

  <tbody>
  
    <% @projects.each do |project| %>
      <tr> 
      <% if can? :show, project %>
        <td><%= project.title %></td>
        <td><%= project.user.name %></td>
      
        <td>
          
            <%= link_to 'Show', project %>
          
        </td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large red">
      <i class="large material-icons">mode_edit</i>
    </a>
    <ul>
      
      <li><a class="btn-floating blue"><i class="material-icons">contact_phone</i></a></li>
      <li><a href=<%="#{new_project_path}" %> class="btn-floating green"><i class="material-icons">add_circle</i></a></li>
    </ul>
</div>
<br>

<%= link_to 'New Project', new_project_path %>
