<div class="row">
  <div class="col s12">
    <ul class="tabs">
      <li class="tab col s3"><a class="active" href="#info">Info</a></li>
      <li class="tab col s3"><a href="#tasks">Tasks</a></li>
      <li class="tab col s3 disabled"><a href="#attachments">Attachments</a></li>
    </ul>
  </div>


  <div id="info" class="col s12">
<!--
      <% if !flash[:notice].blank? %>
         <div class = "alert alert-info">
            <%= flash[:notice] %>
         </div>
      <% end %>
    -->
      <h5>
        <%= @project.title %>
      </h5>

      <p>
        Description:
        <%= @project.description.html_safe %>
      </p>
      <p>
        Start Date:
        <%= @project.start_date %>
      </p>

      <p>
        End Date:
        <%= @project.end_date %>
      </p>

      <p>
        <i class="material-icons tiny">attachment</i>
        <% @project.attachments.each do |attachment| %>
          <%= link_to "#{attachment.file.filename}", attachment.url %> |
        <% end %>
      </p>
      
  </div>

  <div id="tasks" class="col s12">
    <h5>Task for this project</h5>
      <ul>
        <% @project.tasks.each do |task| %>
        <li>
          <%= check_box_tag "task_done_#{task.id}", "", task.done %>
          <%= link_to task.title, task %>
        </li>
        <% end %>
      <ul>
  </div>
</div>
<p>Created: <%= time_ago_in_words(@project.created_at) %> ago

  <% if can? :update, @project %>
    <%= link_to 'Edit', edit_project_path(@project) %>
    <% end %> |
    <%= link_to 'Back', projects_path %> 
</p>



<div id="notes_wrapper">
  <%= render @project.notes %>
  <div id="form">

    <%= render "notes/form" %>
  </div>
</div>

<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large red">
      <i class="large material-icons">mode_edit</i>
    </a>
    <ul>
      
      <li><a class="btn-floating blue"><i class="material-icons">contact_phone</i></a></li>
      <li><a href=<%="#{new_project_path}" %> class="btn-floating green"><i class="material-icons">add_circle</i></a></li>
    </ul>
</div>

