<div class="row card-panel">
  <div class="col s12">
    <ul class="tabs">
      <li class="tab col s3"><a class="active" href="#info">Info</a></li>
      <li class="tab col s3"><a href="#tasks">Tasks</a></li>
      <li class="tab col s3 disabled"><a href="#attachments">Attachments</a></li>
    </ul>
  </div>


  <div id="info" class="col s12">

      <% if !flash[:notice].blank? %>
         <div class = "alert alert-info">
            <%= flash[:notice] %>
         </div>
      <% end %>
      <h3>
        <%= @project.title %>
      </h3>

      <p>
        <strong>Description:</strong>
        <%= @project.description %>
      </p>
      <p>
        <strong>Start Date:</strong>
        <%= @project.start_date %>
      </p>

      <p>
        <strong>End Date:</strong>
        <%= @project.end_date %>
      </p>

      <p>
        <strong>Attachments:</strong>
        <% @project.attachments.each do |attachment| %>
          <%= link_to "#{attachment.file.filename}", attachment.url %> |
        <% end %>
      </p>
      <%= link_to 'Edit', edit_project_path(@project) %> |
      <%= link_to 'Back', projects_path %>
  </div>

  <div id="tasks" class="col s12">
    <h3>Task for this project</h3>
      <ul>
        <% @project.tasks.each do |task| %>
        <li>
          <%= check_box_tag "task_done_#{task.id}", "", task.done %>
          <%= link_to task.title, task %>
        </li>
        <% end %>
      <ul>
  </div>
</div>




<div id="notes_wrapper">
  <%= render @project.notes %>
  <div id="form">
    <%= render "notes/form" %>
  </div>
</div>

