<%= tinymce_assets %>
<div class="row">
   <p class= "right-align"> <a class=" waves-effect waves-teal btn" href="#newmessage">New Message</a> </p>
  <div class="col s12 z-depth-1 card-panel">
    <div class="row blue-grey darken-1">
      <br>
      <h5 class="center-align card-content white-text">
          V<%= @project.id %> : <%= @project.title %>
      </h5>
      <div class="col s12 ">
        <ul class="tabs blue-grey darken-1 white-text">
          <li class="tab col s3"><a href="#info">Project</a></li>
          <li class="tab col s3"><a class="active" href="#attachments">Communication</a></li>
          <li class="tab col s3"><a href="#tasks">Activities</a></li>
        </ul>
      </div>
    </div>

    <div id="info" class="col s12">

        <p>
         <b> Description:</b>
          <%= @project.description.html_safe %>

        </p>
        <p>
          <i class="material-icons tiny">date_range</i>
         <b> Start Date:</b>
          <%= @project.start_date.to_date.strftime("%d %b, %y") %> 
          <i class="material-icons tiny">date_range</i>
          <b>End Date:</b>

          <%= @project.end_date.to_date.strftime("%d %b, %y") %>
        </p>

       

        <p>
          <i class="material-icons tiny">attachment</i> <b>Attachments:</b>
          <ol>
          <% @project.attachments.each do |attachment| %>
            
              <li><%= link_to "#{attachment.file.filename}", attachment.url %></li>
            
          <% end %>
          </ol>
        </p> 

      <p class= "col s6"> 
        Created by: <%= @project.user.name %> 
      </p>

      <p class= "col s6 right-align">
        <% if can? :update, @project %>
          <%= link_to 'Edit Project', edit_project_path(@project) %>
        <% end %>
      </p>
          
    </div>

    <div id="tasks" class="col s12">
      <p><b>On Going Activities:</b></p>
      <table class="striped">
        <thead>
          <tr>
            <th data-field="id">ID</th>
            <th data-field="title">Activity</th>
            <th data-field="name">Status</th>
            <th>Submissions</th>
            <th>Reports</th>
            <th>Last Reported at</th>
          </tr>
        </thead>

        <tbody>
      
        <% @project.tasks.each do |task| %>
          <tr> 
            <td>A<%= task.id %></td>
            <td><%= link_to task.title, task %></td>
            <% if task.done %>
              <td><div class="chip green">done</div></td>
            <% else %>
              <td><div class="chip amber lighten-3">pending</div></td>
            <% end %>
            <td><%= task.comments.count %></td>
            <td>
              <% task.comments.each do |sub| %> 
                <% sub.attachments.each do |attachment| %>
                  <%= link_to "#{attachment.file.filename}", attachment.url %> |
                <% end %>
              <% end %>
            </td>
            <td><%= task.updated_at.strftime("%d %b, %y at %H:%M") %></td>
            <td><a href="<%= task_path(task.id) %>" ><i class="material-icons">pageview</i></a></td>
            
       
          </tr>
        <% end %>
      </tbody> 
    </table>
    </div>
    
    <div id="attachments" class="col s12">
        
        <p><b>Messages:</b></p>
          <p class= "right-align"> <a class=" waves-effect waves-green btn-flat" href="#newmessage"><i class="material-icons right">message</i>New Message</a> </p>

        <div id="notes_wrapper">
          <%= render @project.notes %>
        </div>

        <div id="newmessage">
          <p><%= render "notes/form" %></p>
        </div>
      </div>
    </div>
  </div>


  <div class=" row project-meta">
    <p class="col s6">Project Created: <%= time_ago_in_words(@project.created_at) %> ago </p>

    <p class=" col s6 right-align">
      
      <%= link_to 'Back', projects_path %> 
     </p>
  </div>
</div>














