
<div class="row"><br>
  <p class="right-align"> <a class=" modal-trigger waves-effect waves-teal btn" href="#newmessage">New Message</a></p>
  <div class="col s12 z-depth-1 card-panel">
    <div class="row blue-grey darken-1">
      <br>
      <h5 class="center-align card-content white-text">
          V<%= @project.id %> : <%= @project.title %>
      </h5>
      <div class="col s12 ">
        <ul class="tabs blue-grey darken-1 white-text">
          <li class="tab col s4"><a href="#info">Project</a></li>
          <li class="tab col s4"><a href="#attachments">Communication</a></li>
          <li class="tab col s5"><a href="#tasks">Activities</a></li>
        </ul>
      </div>
    </div>

    <div id="info" class="col s12">

        <p>
         <b> Description:</b>
          <%= @project.description.html_safe %>

        </p>
        <p>
          <i class="material-icons tiny">date_range</i>
         <b> Start Date:</b>
          <%= @project.start_date.to_date.strftime("%d %b, %y") %> 
          <i class="material-icons tiny">date_range</i>
          <b>End Date:</b>

          <%= @project.end_date.to_date.strftime("%d %b, %y") %>
        </p>

       

        <p>
          <i class="material-icons tiny">attachment</i> <b>Attachments:</b>
          <ol>
          <% @project.attachments.each do |attachment| %>
            
              <li><%= link_to "#{attachment.file.filename}", attachment.url, target: '_blank' %></li>
            
          <% end %>
          </ol>
        </p> 

      <p class= "col s6"> 
        Created by: <%= @project.user.name %> 
      </p>

      <p class= "col s6 right-align">
        <% if can? :update, @project %>
          <%= link_to 'Edit Project', edit_project_path(@project) %>
        <% end %>
      </p>
          
    </div>

    <div class="row">
      <div id="tasks" class="col s12">
        <p><b>On Going Activities:</b></p>
        <% if @project.tasks.count == 0 %>
          <p>Hello again! <br>
            Please wait for a while, as we assess your project. <br>Also, check this space again to know the status of the key activities associated with your project.
            <p>
        <% else %>
        <table class="striped">
            <thead>
              <tr>
                <th data-field="id">ID</th>
                <th data-field="activity">Activity</th>
                <th data-field="status">Status</th>
                <th data-field="sub">Submissions</th>
                <th data-field="report">Reports</th>
                <th data-field="reptime">Last Reported at</th>
                <th data-field="view"></th>
              </tr>
            </thead>

            <tbody>
          
              <% @project.tasks.each do |task| %>
                <tr> 
                  <td>A<%= task.id %></td>
                  <td><%= link_to task.title, task %></td>
                  <% if task.done %>
                    <td><div class="chip green">done</div></td>
                  <% else %>
                    <td><div class="chip amber lighten-3">pending</div></td>
                  <% end %>
                  <td><%= task.comments.count %></td>
                  <td>
                    <% task.comments.each do |sub| %> 
                      <% sub.attachments.each do |attachment| %>
                        <%= link_to "#{attachment.file.filename}", attachment.url %> |
                      <% end %>
                    <% end %>
                  </td>
                  <td><%= task.updated_at.strftime("%d %b, %y at %H:%M") %></td>
                  <td><a href="<%= task_path(task.id) %>" ><i class="material-icons">pageview</i></a></td>
                </tr>
              <% end %>
            </tbody> 
        </table>
        <% end %>
        
    </div>
  </div>
    
    <div id="attachments" class="col s12">
        
        <% if @project.notes.count == 0 %>
          <p>This section will contain all the messages & attachments exchanged between vodd & user/clients. <br>As of now, there seems to be no messages for this project. <br>Please click on the <a class="modal-trigger" href="#newmessage">new message</a> button to start a chat.<p>
        <% else %>
          <p><b>All Messages:</b></p>
        <% end %>

        <div id="notes_wrapper">
          <%= render @project.notes %>
        </div>

        
      </div>
    </div>
  </div>


  <div class=" row project-meta">
    <p class="col s6">Project Created: <%= time_ago_in_words(@project.created_at) %> ago </p>

    <p class=" col s6 right-align">
      
      <%= link_to 'Back to Project list', projects_path %> 
     </p>
  </div>


<div id="newmessage" class="modal">
  <div class="modal-content">
        
          <%= render "notes/form" %>
        </div>
        <div class="modal-footer">
          <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
        </div>

</div>




</div>













